php_flag display_errors on
php_value error_reporting 9999

RewriteEngine On
RewriteCond %{REQUEST_URI} !\.(?:css|js)$ [NC] # Pass .css and .js files
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
# Converts everything from Root to: index.php?url=$1. Example:
# abc = index.php?url=abc
# abc/dc/dc = index.php?url=abc/dc/dc
# QSA - separates query into variables. Example:
# caca?p=50 -> index.php?url=caca&p=50
# L - If rule matches the url, dont proceed further